# Drutopia-provided files which should not be overridden
/web/.gitignore
/web/core
/web/modules/.gitignore
/web/modules/contrib
/web/profiles/.gitignore
/web/profiles/contrib
/web/themes/.gitignore
/web/themes/contrib
/web/sites/.gitignore
/web/sites/default/files
/web/index.php
/web/update.php
/web/autoload.php
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/vendor/
/.editorconfig
/.gitattributes
